.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
/*
@media (min-width: 768px) {
  .sidenav {
    display: none;
  }
} */
